@font-face {
  font-family: "roboto";
  src: url("./fonts/roboto-var.woff2");
  font-display: swap;
}

@font-face {
  font-family: "playfair";
  src: url("./fonts/playfair-display-var.woff2");
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-sans-serif: "roboto", sans-serif;
  --ff-serif: "playfair", serif;

  --primary: hsl(192, 91%, 36%);
  --background: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 0%);

  --green: hsl(142, 72%, 29%);
  --purple: hsl(272, 72%, 47%);
  --red: hsl(0, 74%, 42%);
  --amber: hsl(32, 95%, 44%);
  --pink: hsl(335, 78%, 42%);

  --box-shadow: 5px 5px 8px hsla(from var(--text) h s l / 0.12);
}

h1,
h2,
h3 {
  font-family: var(--ff-serif);
}

& h2 {
  font-size: 2.4em;
  font-weight: 500;
  text-align: center;
}

.header h2,
.footer h2 {
  color: var(--background);
}

a > img,
.contact-info img {
  width: 2rem;
}

:any-link {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  background-color: var(--background);
  font-family: var(--ff-sans-serif);
  line-height: 1.5;
}

.desc,
.about p {
  color: hsl(from var(--text) h s 25%);
}

.header {
  --header-bg-degree: 155deg;

  background-image: linear-gradient(
    var(--header-bg-degree),
    hsl(from var(--primary) h s 32.5%) 50%,
    var(--background) 50.08%
  );
  background-size: 200% 200%;
  background-position: 200% 80%;
}

.portrait img {
  width: 100%;
  height: 100%;
  display: block;
}

.about {
  padding-block: 1em;
  margin-inline: 1.5em;

  & .portrait {
    max-height: 380px;
    max-width: 280px;
    position: relative;
    margin-inline: auto;
    transform: translate(0.15em, 2.5rem);

    & img {
      transform: translateY(-1em);
    }

    & h1 {
      position: absolute;
      bottom: 0;
      font-size: 3em;
      color: var(--background);
      transform: translateY(-5px);
      margin-left: 0.2em;
      text-shadow: 1px -1px var(--text);
    }
  }

  & h2 {
    color: var(--text);
    margin-top: 3.5em;
  }

  & p {
    margin-block: 0.2em 0.5em;
    padding-inline: 0.5em;
    font-size: 1.2em;
  }

  & .social-links {
    max-width: fit-content;
    margin: 0.5em auto;
    display: flex;
    gap: 1.5em;
  }
}

.projects {
  --min-col-size: 400px;

  display: grid;
  gap: 1em;
  margin-top: 2.5em;
  padding-inline: 1.5em;
  align-items: center;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(var(--min-col-size), 100%), 1fr)
  );

  & h2 {
    margin-bottom: 0.5em;
  }
}

.card {
  margin-bottom: 1em;
  box-shadow: var(--box-shadow);
}

.project {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  & p {
    text-align: center;
    font-size: 2.4em;
    font-family: var(--ff-serif);
    color: var(--background);
    max-width: 10ch;
    font-weight: 300;
  }
}

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 1em;
  box-shadow: -1px 3px 5px hsla(from var(--text) h s l / 0.1);

  & h3 {
    grid-column: span 2;
    font-size: 1.5em;
    font-weight: 500;
  }

  & .project-links {
    display: flex;
    justify-content: flex-end;
    gap: 0.5em;
  }

  & .desc {
    grid-row: span 2;
    grid-column: span 3;
    margin-top: 0.5em;
  }
}

.img-1 {
  background-color: var(--amber);
}
.img-2 {
  background-color: var(--primary);
}
.img-3 {
  background-color: var(--red);
}
.img-4 {
  background-color: var(--purple);
}
.img-5 {
  background-color: var(--pink);
}
.img-6 {
  background-color: var(--green);
}

.footer {
  margin-top: 2.5em;
  padding-top: 1em;
  background-color: hsl(from var(--primary) h s 32.5%);
  color: var(--background);

  & article {
    padding-inline: 1.5em;

    & > p:first-of-type {
      font-size: 1.25em;
      margin-block: 0.5em;
    }

    & > p:nth-of-type(2) {
      max-width: 20ch;
      margin-block: 1.5em;
    }
  }

  & .contact-info img {
    display: none;
  }

  & .social-links {
    max-width: fit-content;
    margin-inline: auto;
    margin-block: 1.5em 2em;
    display: flex;
    gap: 1.5em;
  }

  & .portrait img {
    height: 375px;
    object-fit: cover;
  }
}

@media screen and (min-width: 45.5em) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    min-width: 100vw;
    background-size: 300% 300%;
    background-position: 300% 65%;
    padding-top: 7.5em;
    display: flex;
    justify-content: center;

    --header-bg-degree: 165deg;
  }

  h2 {
    font-size: 2em;
  }

  .about {
    padding: 2em;
    background-color: var(--background);
    box-shadow: var(--box-shadow), -2px 0 3px hsla(from var(--text) h s l / 0.1);
    max-width: 800px;
    margin-inline: 7em;

    & .portrait {
      float: left;
      transform: translate(-4em, -4.5em) scale(1.5);

      & img {
        max-height: 250px;
        transform: unset;
      }

      & h1 {
        top: 0;
        bottom: unset;
        white-space: nowrap;
        font-size: 2.75em;
        transform: translate(35%, -0.1em) scale(0.7);
        text-shadow: 1px 1px 2px var(--text);
      }
    }

    & h2 {
      margin-top: 0;
    }

    .social-links {
      display: none;
    }
  }

  .projects {
    --min-col-size: 225px;

    padding-block: 0.5em;
    margin-block: 5em 2em;
    max-width: 800px;
    min-width: 508px;
    margin-inline: 7em;
    position: relative;
    gap: 1.5em;

    & h2 {
      position: absolute;
      top: 0;
      transform: translate(1em, -105%);
    }

    .card {
      margin-bottom: 0;
    }
  }

  .footer {
    min-width: 100vw;
    display: flex;
    padding-inline: 2em;
    padding-block: 2em 2.5em;
    justify-content: space-between;

    & article {
      padding-inline: 0 1.5em;

      & h2 {
        text-align: left;
      }
    }

    & .contact-info {
      display: grid;
      gap: 0.5em;
      align-items: center;
      grid-template-columns: 2em 1fr;
      grid-template-rows: repeat(2, 2em);

      & img {
        display: block;
      }
    }

    & .social-links {
      margin-inline: 0 auto;
    }
  }
}

@media screen and (min-width: 60em) {
  h2 {
    font-size: 2.25em;
  }

  .header {
    background-size: 320% 320%;
    background-position: 80% 320%;
    padding-block: 4.5em 3em;

    --header-bg-degree: 172deg;
  }

  .about {
    max-width: 1200px;
    padding-left: 7em;
    padding-block: 1em;
    margin-inline: 2em;

    & .portrait {
      transform-origin: right center;
      transform: translate(-1.5em, 0) scale(1.4);

      & img {
        min-height: 300px;
      }

      & h1 {
        top: unset;
        right: 0;
        bottom: 0;
        transform: translate(0.75em, 0.2em) scale(0.725);
        font-weight: 500;
      }
    }

    & h2 {
      text-align: left;
    }

    & p {
      padding: 1em 0;
    }

    & .social-links {
      display: flex;
      margin-inline: auto 0;
    }
  }

  .projects {
    max-width: 1200px;
    padding-inline: 0;
    margin-inline: 2em;
    padding-top: 1em;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);

    & h2 {
      transform: translate(0, -105%);
    }
  }

  .footer {
    justify-content: space-around;
  }
}
